# Copyright 2014-2018 Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"). You
# may not use this file except in compliance with the License. A copy of
# the License is located at
#
# 	http://aws.amazon.com/apache2.0/
#
# or in the "license" file accompanying this file. This file is
# distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
# ANY KIND, either express or implied. See the License for the specific
# language governing permissions and limitations under the License.

[Unit]
Description=ECS Agent systemd unit file
Documentation=https://docs.aws.amazon.com/AmazonECS/latest/developerguide/
Requires=docker.service
After=docker.service

[Service]
# It is recommended in production to version pin the ECS Agent 
# to a known version vs running the latest flag on the docker container.
# See https://github.com/aws/amazon-ecs-agent/releases for agent versions.

# It is recommended to use a systemd drop-in file vs editing this line.
# Your drop-in could look like this:
#
#       [Service]
#       Environment=ECS_AGENT_VERSION=v1.17.2
#
# Depend on the OS, it could be place in /etc/systemd/system/amazon-ecs-agent.d/
# , and named ecs_agent_version_override.conf
Environment=ECS_AGENT_VERSION=latest

# The logic around the ECS Agent restart:
#   - Restart on failure
#   - Wait 15 seconds between restart
#   - If the ECS Agent restarts more then 10 times in 5 minutes,
# it will stay dead
Restart=on-failure
RestartSec=15s
StartLimitInterval=5min
StartLimitBurst=10

# Create the directories needed for the ECS Agent.
ExecStartPre=-/bin/mkdir -pv /var/ecs-data /etc/ecs

# Stop the ECS Agent if it was running. Docker stop is used
# as it will send a SIGTEM and wait 10 seconds before sending SIGKILL
ExecStartPre=-/usr/bin/docker stop --time 10 ecs-agent

# Free up the container name "ecs-agent"
ExecStartPre=-/usr/bin/docker rm ecs-agent

# The ECS Agent is started via docker run
ExecStart=/usr/bin/docker run --name ecs-agent \
    --privileged \
    --volume=/var/run:/var/run \
    --volume=/var/log/ecs/:/log:Z \
    --volume=/var/lib/ecs/data:/data:Z \
    --volume=/etc/ecs:/etc/ecs \
    --net=host \
    --env-file=/etc/ecs/ecs.config \
    amazon/amazon-ecs-agent:${ECS_AGENT_VERSION}

# Docker stop is used as it will send a SIGTEM and wait 10 seconds
# before sending SIGKILL
ExecStop=/usr/bin/docker stop --time 10 ecs-agent

# Free up the container name "ecs-agent"
ExecStop=-/usr/bin/docker rm ecs-agent

[Install]
WantedBy=default.target
