[Unit]
Description=Docker Container %I
Documentation=https://docs.aws.amazon.com/AmazonECS/latest/developerguide/
Requires=docker.service
After=docker.service

[Service]
# It is recommended in production to version pin the ECS Agent 
# to a known version vs running the latest flag on the docker container.
# See https://github.com/aws/amazon-ecs-agent/releases for agent versions.
Environment=ECS_AGENT_VERSION=latest
Restart=unless-stopped
ExecStartPre=-/bin/mkdir -pv /var/log/ecs /var/ecs-data /etc/ecs
ExecStartPre=-/usr/bin/docker stop --time 10 %i 
ExecStart=/usr/bin/docker run --name %i \
--privileged \
--restart=on-failure:10 \
--volume=/var/run:/var/run \
--volume=/var/log/ecs/:/log:Z \
--volume=/var/lib/ecs/data:/data:Z \
--volume=/etc/ecs:/etc/ecs \
--net=host \
--env-file=/etc/ecs/ecs.config \
amazon/amazon-ecs-agent:{ECS_AGENT_VERSION}
ExecStop=/usr/bin/docker stop --time 10 %i

[Install]
WantedBy=default.target
